<div class="center jumbotron">
  <h1>Welcome</h1>

  <p>I press buttons until my screen blinks funny.</p>

  <%= link_to "Bark!", signup_path, class: "btn btn-lg btn-primary" %><br >
  <%= image_tag("dog.gif", alt: "bark") %>

</div>


