<div class="center jumbotron">
  <h1>Welcome</h1>

  <p>I hit buttons until my screen blinks funny.</p>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("http://orig14.deviantart.net/84c9/f/2016/045/a/7/annoying_dog_on_the_rope_chat_icon_by_toreodere-d9rqj3i.gif", alt: "Rails logo"),'#' %>
